/* ┌────────────┐ */
/* │ styles.css │ */
/* └────────────┘ */

@font-face {font-family: "Pitch Italic";  src: url("fonts/Pitch Test/PitchTest-SemiboldItalic.otf");}
@font-face {font-family: "Pitch Medium Italic";  src: url("fonts/Pitch Test/PitchTest-MediumItalic.otf");}
@font-face {font-family: "Pitch Light";  src: url("fonts/Pitch Test/PitchTest-Light.otf");}

:root {--nav-width: 220px;}

html {overflow-y: scroll;  min-height: 100%;  margin: 0px;}
td   {padding-right: .5em}
body {height: 100%;  margin: 0px;  background: rgb(255, 255, 255);  font-family: "Pitch Medium Italic";  font-size: 12pt;}
h4   {text-decoration: underline;}

#container {width: 800px;  margin: auto;}
#header    {top: 0;  position: fixed;  overflow: hidden;  padding-top: 20px;  padding-bottom: 20px;}

a       {text-decoration: none;  color: #CE2029;}
a:hover {text-decoration: underline;}
hr      {color: rgb(255, 255, 255);}

#main    {margin-top: 60px;}
#footer  {text-align: center;}
#content {float: left;  width: calc(100% - var(--nav-width));  height: 100%;  margin-left: calc(var(--nav-width) + 20px);  padding-top: 0px;  padding-bottom: 40px;}
#content img {width: 100%}

#nav    {position: fixed;  float: left;}
#nav ul {width: var(--nav-width);  margin-top: 0px;  margin-bottom: 0px;  padding-left: 0px;  line-height: 13pt;}
#nav a  {margin-top: 0px;  margin-bottom: 0px;}

#posts              {display: block;  margin-left: 20px;}
#posts a            {color: #CE2029;  text-indent: -3em;}
#posts a:hover      {color: #CE2029;}
#posts img          {width: 90%;}
#posts .description {padding-left: 20px;}

#sketch #thrill-holder      {width: 640px;  margin: auto;}
#sketch #squares-holder     {width: 500px;  margin: auto;}
#sketch #corners-holder     {width: 500px;  margin: auto;}
#sketch #arcs-holder        {width: 500px;  margin: auto;}
#sketch #towers-holder      {width: 500px;  margin: auto;}
#sketch #gogh-holder        {width: 500px;  margin: auto;}
#sketch #diamond-holder     {width: 520px;  margin: auto;}
#sketch #starry-holder      {width: 500px;  margin: auto;}
#sketch #triangles-holder   {width: 500px;  margin: auto;}
#sketch #holohex-holder     {width: 500px;  margin: auto;}
#sketch #spiro-holder       {width: 600px;  margin: auto;}
#sketch #lisa-holder        {width: 500px;  margin: auto;}
#sketch #breathing-holder   {width: 500px;  margin: auto;}
#sketch #main-sketch-holder {width: 495px;  margin: auto;}
