.ipynb_checkpoints/*
data/processed/mlo_co2.csv
data/processed/ucsd_co2.csv
scripts/.ipynb_checkpoints/preprocess-checkpoint.py

poetry.lock
pyproject.toml
data_acda/processed/co2_global.csv
data_acda/processed/mlo_co2.csv
data_acda/processed/ucsd_co2.csv
scripts/.ipynb_checkpoints/data-checkpoint.py
scripts/__pycache__/__init__.cpython-38.pyc
scripts/__pycache__/data.cpython-38.pyc
scripts/__pycache__/mlo.cpython-38.pyc
scripts/__pycache__/preprocess.cpython-38.pyc